﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Ahaa.aspx.cs" Inherits="WebApplication1.Ahaa" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
             <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Button" />
             <br />
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </div>           <br />
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

        <p>
            See on teretamise leht</p>
        <asp:GridView ID="GridView1" runat="server">
        </asp:GridView>

    </form>
</body>
</html>
